* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main containers */

.page-wrapper {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-image: url(assets/marco-grosso-8BJXxPYTMhY-unsplash.jpg);
    height: 100vh;
    width: 35vw;
    background-size: contain;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.main-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.form-container form {
    display: flex;
    gap: 2rem;
    width: 100%
}

.intro-text {

}

.left, .right {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.sign-in {
    display: flex;
    flex-direction: column;
}

/* Inputs */
input {
    padding: 10px;
}

input:focus {

}

input:invalid {

}

button {
    padding: 15px;

}




