* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}

/* Main containers */

.page-wrapper {
    display: flex;
    height: 100%;
    width: 80vw;
    align-items: center;
    justify-content: center;
}

.sidebar {
    background-image: url(assets/favorance-rpHLJ7yj9S8-unsplash.jpg);
    height: 100vh;
    width: 30vw;
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.main-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 200px;
    max-width: 800px;
    padding-left: 4rem;
    background-color: white;
    height: 100vh;
}

.form-container form {
    display: flex;
    width: 100%;
    max-width: 800px;
}

.intro-text {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
}

.left,
.right {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.sign-in {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.logo-section {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: 30vw;
    font-family: "Lato";
    margin: 0;
    text-align: center;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}

.photo-credit {
    display: flex;
    justify-content: center;
    color: white;
}

/* Inputs */
input {
    padding: 10px;
    width: 250px;
    margin-bottom: 10px;
}

input:focus {
    box-shadow: 0px 0px 0px 5px blue;
}

input:invalid {
    border-color: red;
}

button {
    padding: 15px;
    background-color: #596D48;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    width: 200px;
}

img {
    width: 200px;
    height: 200px;
}